body {
  font-family: Arial;
  background: #f5f5f5;
}

.title {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input, button {
  display: block;
  width: 100%;
  margin: 8px 0;
}
.sweet-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
